.form {
    text-align: right;
}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: #428ACC;
    border: 1px solid #428ACC;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}

.form button:hover,
.form button:active {
    background-color: #6DA4D8;
    border-color: #6DA4D8;
}
